#exclude all file but not folder
*
!*/

#exclude folder
node_modules

#include js css html ejs json jpg png
!*.js
!*.css
!*.html
!*.ejs
!*.json
!*.jpg
!*.png

#include some important file
!.editorconfig
!.gitattributes
!.gitignore
!LICENSE.md
!README.md
!client/humans.txt
!client/robots.txt
!client/browserconfig.xml
!client/favicon.ico
!client/site.webmanifest
