
<div>
    <!-- this input only run when file changed, so choose the same file no use -->
    <input id="upload_file" onchange="uploadFile(this.files)" type="file" style="position:absolute; z-index: -1; visibility: hidden;" accept="" />
    <!-- this label connected with input above, it implemented hide filename of input -->
    <label for="upload_file" class="waterdrop-upload">click here to upload a file</label>
</div>